
@font-face {
    font-family: 'HelveticaNeueRegular';
    src: url('./fonts/HelveticaNeue\ Regular.ttf') format('truetype');
}

.my-text{
    font-family: 'HelveticaNeueRegular';
    font-weight: 900;
    letter-spacing: 5px;
}

.scroll-thin {
  scrollbar-width: thin;       
  scrollbar-color: #c4c4c4 #f1f1f1;
}

.scroll-thin::-webkit-scrollbar {
  height: 6px;                   
}

.scroll-thin::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scroll-thin::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 10px;
}

.scroll-thin::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

